#page-header {
	.logo {
		float: left;
		margin: 0;
		font-size: 24px;
		@media @sm, @xs {
			float: none;
			text-align: center;
		}
		a {
			position: relative;
			display: inline-block;
			padding: 22px 0 12px 252px;
			margin: 0 0 20px;
			text-decoration: none;
			color: #98989c;
			@media @md {
				padding: 0;
				top: -35px;
				margin: 0 0 -35px;
			}
			@media @md, @sm, @xs {
				padding: 0;
			}
			mark {
				position: absolute;
				left: 0;
				bottom: 0;
				text-indent: -9999px;
				width: 228px;
				height: 90px;
				background: url(../images/logo/01.png) no-repeat;
				-webkit-background-size: 100% auto;
				-moz-background-size: 100% auto;
				background-size: 100% auto;
				@media @md, @sm, @xs {
					display: block;
					position: static;
				}
			}
		}
	}
}
#mainmenu {
	position: relative;
	z-index: 102;
	background: @c4;
}
#col-bottom {
	position: relative;
	background: @c4;
	.container {
		position: static;
	}
}
#page-footer {
	padding: 35px 0;
	.copy {
		.fs;
		clear: both;
		font-size: 13px;
	}
	.xart {
		.fs;
		float: right;
		font-size: 11px;
		text-transform: uppercase;
		margin: 7px 0;
		a {
			color: lighten(@c1,30);
			text-decoration: none;
			&:hover{
				text-decoration: underline;
			}
		}
		img {
			float: right;
			width: 14px;
			margin: 1px 0 0 7px;
		}
	}
}
#content {
	margin: 0 0 50px;
}
.mod_menu-lang {
	text-align: right;
	margin: 14px 0 11px;
	@media @sm, @xs {
		text-align: center;
	}
	ul {
		.rul;
		li {
			.rli;
			.fs;
			display: inline-block;
			text-transform: uppercase;
			font-size: 14px;
			margin: 0 0 0 2px;
			&:before{
				.fs;
				position: static;
				content: '/';
				font-size: 14px;
			}
			&:first-child {
				margin-left: 0;
				&:before{
					display: none;
				}
				a {
					margin-left: 0;
				}
			}
			&.act {
				a {
					font-weight: bold;
					color: @c2;
				}
			}
			a {
				color: @c1;
				text-decoration: none;
				margin: 0 0 0 8px;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_menu-top {
	.clearfix;
	float: right;
	@media @sm, @xs {
		float: none;
		text-align: center;
	}
	ul {
		.rul;
		li {
			.rli;
			float: left;
			margin: 0 0 20px 16px;
			@media @sm, @xs {
				display: inline-block;
				float: none;
				margin: 0 8px 20px;
			}
			&:before, &:after{
				position: absolute;
				z-index: 1;
				content: '';
				left: 0;
				top: 50%;
				margin: -10px 0 0;
				border-right: 15px solid transparent;
				border-top: 25px solid fade(#000,30);
			}
			&:after{
				border-right-width: 7px;
				border-top-color: #fff;
			}
			a {
				.fs;
				.transition(0.2s);
				position: relative;
				display: block;
				text-decoration: none;
				font-weight: bold;
				font-size: 15px;
				line-height: 54px;
				color: #fff;
				padding: 0 35px;
				background: @c2;
				white-space: nowrap;
				text-transform: uppercase;
				&:before{
					margin: 0 -12px 0 20px;
					float: right;
					line-height: 54px;
					font-size: 30px;
				}
				&:hover{
					background: lighten(@c2,10);
				}
			}
			&.highlight {
				a {
					background: @c3;
					&:hover{
						background: lighten(@c3,10);
					}
				}
			}
		}
	}
}
.mod_menu-main {
	margin: 0 -15px;
	&>ul {
		.rul;
		display: table;
		width: 100%;
		@media @sm, @xs {
			display: block;
			text-align: center;
			padding: 20px 0;
		}
		&>li {
			.rli;
			display: table-cell;
			vertical-align: middle;
			text-align: center;
			@media @sm, @xs {
				display: inline-block;
			}
			&:before, &:after{
				.transition(0.2s);
				position: absolute;
				content: '';
				top: 0;
				left: 22px;
				border-bottom: 0 solid transparent;
				border-right: 25px solid #a8a9ab;
				@media @sm, @xs {
					display: none;
				}
			}
			&:after{
				left: 47px;
				border-right: none;
				border-left: 40px solid #ced0d2;
			}
			&>a {
				.fs;
				display: block;
				text-decoration: none;
				text-transform: uppercase;
				font-weight: 600;
				font-size: 16px;
				padding: 37px 15px 29px;
				color: @c1;
				@media @md {
					font-size: 14px;
				}
				@media @sm, @xs {
					padding: 5px 10px;
				}
				&:after{
					.transition(0.1s);
					position: absolute;
					z-index: 1;
					content: '';
					top: 0;
					left: 22px;
					border: 25px solid transparent;
					border-right-width: 40px;
					border-top: 0 solid #fff;
					@media @sm, @xs {
						display: none;
					}
				}
			}
			&.home {
				&>a {
					font-size: 0;
					width: 90px;
					@media @sm, @xs {
						width: auto;
						font-size: 16px;
					}
					&:before{
						.fi;
						position: absolute;
						display: inline-block;
						text-decoration: none;
						content: '\e80a';
						font-size: 26px;
						line-height: 1;
						top: 50%;
						left: 50%;
						width: 60px;
						text-align: center;
						margin: -10px 0 0 -30px;
						font-weight: normal;
						@media @sm, @xs {
							display: none;
						}
					}
				}
			}
			&.act {
				&:before, &:after{
					border-bottom-width: 24px;
				}
				&>a {
					color: @c2;
					@media @sm, @xs {
						text-decoration: underline;
					}
					&:after{
						border-top-width: 14px;
					}
				}
			}
			&:hover{
				&:before, &:after {
					border-bottom-width: 24px;
				}
				&>a {
					color: @c2;
					&:after{
						border-top-width: 14px;
					}
				}
			}
			&:hover{
				ul {
					max-height: 900px;
					padding-bottom: 10px;
				}
			}
			&>ul {
				.rul;
				.fs;
				.box-shadow(3px 3px 0 fade(#000,20));
				.transition(0.2s);
				position: absolute;
				top: 100%;
				left: -20px;
				right: 0;
				padding: 0 20px;
				background: @c4;
				font-weight: 600;
				min-width: 200px;
				max-height: 0;
				overflow: hidden;
				li {
					margin: 10px 0;
					padding: 0 0 0 25px;
					text-align: left;
					font-size: 15px;
					line-height: 1.2;
					text-transform: uppercase;
					&:before{
						top: 1px;
					}
					a {
						text-decoration: none;
						&:hover{
							text-decoration: underline;
						}
					}
					&.act {
						&>a {
							color: @c3;
						}
					}
				}
			}
		}
	}
}
.mod_custom-slideshow {
	.transition(0.1s);
	position: relative;
	margin: 0 0 80px;
	overflow: hidden;
	max-height: 900px;
	@media @xs {
		margin: 0 0 40px;
	}
	&.compact {
		max-height: 95px;
		margin: 0 0 20px;
		@media @xs {
			display: none;
		}
		.toggle-slider {
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
			filter:alpha(opacity=100);
			&:before{
				.rotate(0deg);
			}
		}
		.items {
			.item {
				figure {
					margin: -25% 0 0;
				}
				.content {
					display: none;
				}
			}
		}
	}
	&:hover{
		.toggle-slider {
			-webkit-opacity: 1;
			-moz-opacity: 1;
			opacity: 1;
			filter:alpha(opacity=100);
		}
	}
	.toggle-slider {
		position: absolute;
		z-index: 102;
		top: 0;
		right: 20px;
		height: 95px;
		line-height: 95px;
		width: 95px;
		padding: 0;
		font-size: 0;
		background: fade(#000,50);
		-webkit-opacity: 0;
		-moz-opacity: 0;
		opacity: 0;
		filter:alpha(opacity=0);
		&:hover{
			background: @c3;
		}
		&:before{
			.fi;
			.rotate(180deg);
			content: '\e80f';
			font-size: 30px;
			display: inline-block;
		}
	}
	.items {
		.item {
			display: none;
			position: relative;
			overflow: hidden;
			width: 100%;
			&:nth-child(1) {
				display: block;
			}
			&.cycle-slide {
				.content {
					.transition(0.5s);
					-webkit-transition-delay: 0.5s;
					transition-delay: 0.5s;
					margin-bottom: -800px;
					margin-left: 400px;
				}
				&.cycle-slide-active {
					.content {
						margin-bottom: 0;
						margin-left: 0;
					}
				}
			}
			figure {
				.transition(0.1s);
				position: relative;
				margin: 0;
				img {
					display: block;
				}
			}
			.container {
				position: absolute;
				left: 50%;
				top: 0;
				bottom: 0;
				margin: 0 0 0 -@content-width/2;
				@media @md {
					margin-left: -@content-width-md/2;;
				}
				@media @sm {
					margin-left: -@content-width-sm/2;;
				}
				@media @xs {
					left: 0;
					margin-left: 0;
				}
			}
			.content {
				position: absolute;
				bottom: 20%;
				left: 20px;
				color: #fff;
				font-size: 26px;
				line-height: 1.1;
				padding: 50px 90px 40px 60px;
				max-width: 66.6666%;
				background: fade(@c2,80);
				@media @md, @sm {
					padding: 20px 30px 10px;
					bottom: 7%;
					font-size: 18px;
				}
				@media @sm {
					font-size: 16px;
				}
				@media @xs {
					left: 0;
					right: 80px;
					max-width: 100%;
					bottom: 0;
					padding: 10px 20px 01px;
					font-size: 14px;
				}
				&:before{
					position: absolute;
					content: '';
					top: 0;
					right: 100%;
					width: 10px;
					height: 999em;
					background: #fff;
					@media @xs {
						display: none;
					}
				}
				h2 {
					font-size: 46px;
					line-height: 1;
					margin: 0 0 15px;
					@media @md {
						font-size: 36px;
					}
					@media @sm {
						font-size: 26px;
					}
					@media @xs {
						.fs;
						font-size: 18px;
						margin: 0 0 5px;
					}
				}
				p {
					margin: 0 0 10px;
				}
				a {
					color: #fff;
				}
				nav {
					position: absolute;
					top: 0;
					left: 100%;
					bottom: 0;
					width: 200px;
					overflow: hidden;
					@media @md {
						width: 180px;
					}
					@media @sm {
						width: 120px;
					}
					@media @xs {
						width: 80px;
					}
					a {
						.fs;
						.transition(0.2s);
						position: absolute;
						top: 50%;
						left: 50%;
						width: 240px;
						height: 240px;
						padding: 70px 70px;
						font-size: 19px;
						line-height: 1.3;
						font-weight: 600;
						margin: -120px 0 0 -120px;
						text-transform: uppercase;
						text-align: center;
						text-decoration: none;
						background: fade(#000,60);
						@media @md {
							padding-top: 75px;
						}
						@media @sm {
							padding-top: 80px;
						}
						@media @xs {
							width: 80px;
							height: 200px;
							line-height: 200px;
							margin: 0;
							padding: 0;
							font-size: 0;
							left: 0;
							top: 0;
						}
						&:hover{
							background: fade(#000,70);
							&:before{
								bottom: 62px;
								font-size: 48px;
								@media @md, @sm {
									font-size: 20px;
									bottom: 80px;
								}
								@media @xs {
									font-size: 20px;
								}
							}
						}
						&:before{
							.fi;
							.transition(0.2s);
							content: '\e80f';
							position: absolute;
							bottom: 68px;
							left: 50%;
							font-size: 52px;
							font-weight: normal;
							line-height: 1;
							width: 200px;
							margin: 0 0 0 -100px;
							@media @xs {
								line-height: 200px;
								font-size: 20px;
							}
							@media @md, @sm {
								bottom: 85px;
								font-size: 20px;
							}
						}
					}
				}
			}
		}
	}
	.prev, .next {
		.fi;
		.transition(0.2s);
		position: absolute;
		top: 50%;
		left: 0;
		z-index: 101;
		text-decoration: none;
		color: #fff;
		font-size: 50px;
		line-height: 1;
		width: 95px;
		height: 95px;
		line-height: 95px;
		margin: -47px 0 0;
		text-align: center;
		background: fade(#000,50);
		@media @sm, @xs {
			width: 80px;
			height: 80px;
			line-height: 80px;
			font-size: 36px;
			margin: -40px 0 0;
		}
		@media @xxs {
			display: none;
		}
		&:hover{
			background: @c3;
		}
		&:before{
			content: '\e80c';
		}
	}
	.next {
		left: auto;
		right: 0;
		&:before{
			content: '\e810';
		}
	}
}
.mod_custom-intro {
	position: relative;
	float: left;
	width: 50%;
	padding: 0 50px 0 0;
	margin: 0 0 60px;
	@media @sm, @xs {
		float: none;
		width: auto;
	}
	h2 {
		color: @c2;
		margin: 0 0 30px;
	}
	ul {
		.rul;
		li {
			margin: 0 0 12px;
			line-height: 1.3;
		}
	}
}
.mod_custom-articles {
	float: left;
	width: 50%;
	padding: 0 0 0 10px;
	margin: 0 0 60px;
	@media @md {
		padding-left: 0;
	}
	@media @sm, @xs {
		width: auto;
		float: none;
		padding: 0;
	}
	.items {
		.clearfix;
		margin: 0 -20px 0 0;
		.item {
			float: left;
			width: 50%;
			padding: 0 40px 0 0;
			font-size: 15px;
			@media @md, @xs {
				padding-right: 20px;
			}
			@media @xxs {
				float: none;
				width: auto;
			}
			h2 {
				color: @c3;
				margin: 0 0 30px;
				@media @md, @xs {
					font-size: 28px;
				}
			}
			figure {
				margin: 0 0 10px;
				img {
					display: block;
				}
			}
			nav {
				margin: 25px 0 20px;
				a {
					.fs;
					display: inline-block;
					position: relative;
					text-transform: uppercase;
					text-decoration: none;
					padding: 0 20px 0 30px;
					line-height: 1.2;
					font-weight: 600;
					&:hover{
						color: @c3;
						&:before{
							left: 3px;
						}
					}
					&:before{
						.fi;
						.transition(0.2s);
						content: '\e80d';
						position: absolute;
						top: 50%;
						left: 0;
						font-size: 30px;
						margin: -12px 0 0;
						line-height: 1;
						font-weight: normal;
					}
				}
			}
		}
	}
}
.mod-custom-contact {
	padding: 80px 0 20px;
	.mod-title {
		.fh;
		position: relative;
		color: @c2;
		font-size: 32px;
		line-height: 1.2;
		margin: 0 0 28px;
		&:before, &:after{
			position: absolute;
			content: '';
			top: -80px;
			left: 0;
			border-left: 60px solid transparent;
			border-top: 38px solid #98989c;
		}
		&:after{
			border-top: 19px solid #fff;
		}
	}
	.items {
		.clearfix;
		margin: 0 0 0 -20px;
		@media @md {
			margin-left: 0;
		}
		.item {
			float: left;
			width: 25%;
			margin: 0 0 30px;
			padding: 0 0 0 20px;
			@media @md {
				width: 50%;
				float: none;
				padding-left: 0;
			}
			@media @sm, @xs {
				width: 50%;
			}
			@media @xxs {
				width: auto;
				float: none;
			}
			h2 {
				text-transform: uppercase;
				font-size: 24px;
				color: lighten(@c1,30);
				margin: 0 0 15px;
			}
			address {
				position: relative;
				font-style: normal;
				padding: 0 0 0 43px;
				line-height: 1.5;
				margin: 0 0 20px;
				&:before{
					.fi;
					content: '\e80b';
					position: absolute;
					top: 5px;
					left: 0;
					font-size: 50px;
					line-height: 1;
					color: lighten(@c1,30);
				}
			}
			&.item_01 {
				address {
					&:before{
						color: @c2;
					}
				}
			}
			&.item_02 {
				address {
					&:before{
						color: @c3;
					}
				}
			}
			.phone, .email {
				line-height: 1.2;
				margin: 0 0 5px;
				mark {
					color: @c2;
					span {
						font-size: 22px;
					}
				}
			}
		}
	}
	nav {
		position: relative;
		margin: 0 0 40px;
		&:before, &:after{
			position: absolute;
			z-index: 1;
			content: '';
			left: 0;
			top: 50%;
			margin: -10px 0 0;
			border-right: 15px solid transparent;
			border-top: 25px solid fade(#000,30);
		}
		&:after{
			border-right-width: 7px;
			border-top-color: #e8e8e8;
		}
		a {
			.fs;
			.transition(0.2s);
			position: relative;
			display: inline-block;
			text-decoration: none;
			font-weight: bold;
			font-size: 15px;
			line-height: 54px;
			color: #fff;
			padding: 0 40px;
			background: @c2;
			white-space: nowrap;
			text-transform: uppercase;
			&:before{
				.fi;
				content: '\e813';
				margin: 0 -12px 0 26px;
				float: right;
				line-height: 54px;
				font-size: 27px;
				font-weight: normal;
			}
			&:hover{
				background: lighten(@c2,10);
			}
		}
	}
	.map {
		.transition(0.1s);
		position: absolute;
		z-index: 1;
		top: 0;
		right: 0;
		left: 50%;
		bottom: 0;
		overflow: hidden;
		@media @sm, @xs {
			.box-shadow(0 0 20px fade(#000,20));
			position: relative;
			left: 0;
			padding: 0 0 50%;
			margin: 0 0 40px;
		}
		&:before{
			content: '';
			position: absolute;
			z-index: 1;
			top: 0;
			left: 0;
			bottom: 0;
			width: 10px;
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(left,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
			background: -webkit-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
			background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=1 );
			@media @sm, @xs {
				display: none;
			}
		}
		#footerMap {
			position: absolute!important;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}
		.zoom-map {
			position: absolute;
			display: block;
			bottom: 12%;
			left: 0;
			font-size: 0;
			padding: 0;
			width: 54px;
			height: 54px;
			line-height: 54px;
			color: #fff;
			text-align: center;
			text-decoration: none;
			background: #707070;
			&:hover{
				background: @c3;
			}
			&:before{
				.fi;
				content: '\e811';
				font-size: 27px;
				font-weight: normal;
			}
		}
	}
}
.mod_menu-footer {
	float: left;
	margin: 0 0 15px;
	ul {
		.rul;
		li {
			.rli;
			display: inline-block;
			font-size: 13px;
			text-transform: uppercase;
			margin: 0 5px 0 0;
			&:after{
				content: '/';
				margin: 0 0 0 10px;
			}
			&:last-child {
				&:after{
					display: none;
				}
			}
			a {
				text-decoration: none;
				&:hover{
					text-decoration: underline;
				}
			}
		}
	}
}
.mod_breadcrumbs {
	margin: 20px 0;
	ul {
		.rul;
		.fs;
		font-size: 14px;
		li {
			.rli;
			display: inline-block;
			padding: 0 0 0 20px;
			margin: 0 10px 0 0;
			color: @c2;
			font-weight: bold;
			&:before{
				content: '\e80d';
				color: @c3;
				font-size: 10px;
				top: 6px;
			}
			a {
				color: lighten(#000,60);
				text-decoration: none;
				font-weight: normal;
				&:hover{
					text-decoration: underline;
				}
			}
			&.home {
				padding-left: 0;
				&:before{
					display: none;
				}
				a {
					font-size: 0;
					&:hover{
						text-decoration: none;
						color: @c3;
					}
					&:before{
						.fi;
						content: '\e80a';
						font-size: 22px;
					}
				}
			}
		}
	}
}
.mod_custom-articles-bottom {
	position: relative;
	z-index: 1;
	background: @c2;
	&:before{
		content: '';
		position: absolute;
		z-index: 1;
		top: 0;
		left: 50%;
		bottom: 0;
		width: 10px;
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwLjIiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iIzAwMDAwMCIgc3RvcC1vcGFjaXR5PSIwIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
		background: -moz-linear-gradient(left,  rgba(0,0,0,0.2) 0%, rgba(0,0,0,0) 100%);
		background: -webkit-linear-gradient(left,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
		background: linear-gradient(to right,  rgba(0,0,0,0.2) 0%,rgba(0,0,0,0) 100%);
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#33000000', endColorstr='#00000000',GradientType=1 );
		@media @sm, @xs {
			display: none;
		}
	}
	.items {
		position: relative;
		padding: 25px 0 30px;
		margin: 0 -20px;
		&:before{
			position: absolute;
			content: '';
			top: 100%;
			left: 20px;
			border-left: 60px solid transparent;
			border-top: 19px solid @c2;
		}
		.item {
			display: inline-block;
			vertical-align: middle;
			width: 50%;
			margin: 0 -4px 0 0;
			@media @xs {
				display: block;
				width: auto;
				margin: 0 0 20px;
			}
			h2 {
				color: lighten(@c3,25);
				margin: 0;
				display: inline-block;
				vertical-align: middle;
				width: 50%;
				margin: 0 -5px 0 0;
				padding: 0 0 0 38px;
				@media @md, @sm, @xs {
					display: block;
					width: auto;
					margin: 0 0 10px;
				}
			}
			nav {
				display: inline-block;
				vertical-align: middle;
				width: 50%;
				padding: 0 20px;
				@media @md, @sm, @xs {
					display: block;
					width: auto;
					padding: 0 0 0 38px;
				}
				a {
					.fs;
					display: inline-block;
					vertical-align: middle;
					position: relative;
					text-transform: uppercase;
					text-decoration: none;
					padding: 0 30px 0 30px;
					font-size: 15px;
					line-height: 1.2;
					font-weight: 600;
					color: #fff;
					&:hover{
						color: @c3;
						&:before{
							left: 3px;
						}
					}
					&:before{
						.fi;
						.transition(0.2s);
						content: '\e80d';
						position: absolute;
						top: 50%;
						left: 0;
						font-size: 30px;
						margin: -12px 0 0;
						line-height: 1;
						font-weight: normal;
						@media @md, @sm, @xs {
							font-size: 20px;
							margin: -10px 0 0;
						}
					}
				}
			}
		}
	}
}
#gotop{
	a{
		.transition(0.2s);
		.border-radius(10px);
		position: fixed;
		z-index: 99999;
		bottom: -50px;
		right: 20px;
		height: 50px;
		width: 50px;
		text-indent: -9999px;
		line-height: 50px;
		text-align: center;
		background: @cl;
		color: #fff;
		text-decoration: none;
		&:before{
			.fi;
			position: absolute;
			top:0;
			left: 0;
			width: 100%;
			text-indent: 0;
			content: 'top';
			font-size: 20px;
		}
		&:hover{
			background: darken(@cl,10%);
		}
	}
	&.on{
		a{
			bottom: 20px;
		}
	}
}