
.icon-checkbox:before { content: '\e800'; } /* '' */
.icon-checkbox-checked:before { content: '\e801'; } /* '' */
.icon-radio:before { content: '\e802'; } /* '' */
.icon-radio-checked:before { content: '\e803'; } /* '' */
.icon-info-circled:before { content: '\e804'; } /* '' */
.icon-attention-circled:before { content: '\e805'; } /* '' */
.icon-attention:before { content: '\e806'; } /* '' */
.icon-cancel-circled:before { content: '\e807'; } /* '' */
.icon-popup:before { content: '\e808'; } /* '' */
.icon-book:before { content: '\e809'; } /* '' */
.icon-home:before { content: '\e80a'; } /* '' */
.icon-location:before { content: '\e80b'; } /* '' */
.icon-arr-thin-left:before { content: '\e80c'; } /* '' */
.icon-arr-right:before { content: '\e80d'; } /* '' */
.icon-arr-left:before { content: '\e80e'; } /* '' */
.icon-arr-big-down:before { content: '\e80f'; } /* '' */
.icon-arr-thin-right:before { content: '\e810'; } /* '' */
.icon-resize-full:before { content: '\e811'; } /* '' */
.icon-resize-small:before { content: '\e812'; } /* '' */
.icon-bookmark:before { content: '\e813'; } /* '' */